html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
.right-container {
    width: 32%;
    background-color: #D9D9D9;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    display: block;
    flex-direction: column;
    /* padding-left: 20px; */
    margin-left: 30px;
    height: 750px;
    overflow-y: scroll;
   
}

#filter-bts{
    justify-self: center;
    align-self: center;
}

.y-overflow-container::-webkit-scrollbar-track {
    background:#DB4A2B; 
  }

.left-container {

    width: 68%;
    background-color: #D9D9D9; 
    border-radius: 18px;
    margin-left: 25px;
    margin-right: 25px;
    display: block;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 750px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.secondarybtn {
    width: 120px;
    height: 37px;
    margin-right: 20px;
}

.primarybtn {
    background-color: #DB4A2B;
    color: white;
    width: 120px;
    height: 37px;
    margin-right: 20px;
}

.main-conatiner {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    align-items: center;   
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    width: 91%;
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 4px;
}

.details {
    margin-left: 100px;
}

#name {
    color: #7C7070;
    font-weight: bolder;
}

#profile-pic {
    object-fit: fill;
    border-radius: 100px;
}

.user:hover {
    background-color: #c0aeaa2a;
    border-radius: 18px;
}

.chats {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;

}
.sig-out-btn{
    width: 50%;
    justify-content: end;
    align-items: end;
    display: flex;
    flex-direction: row;
} 
.sent {
    background-color: white;
    border-radius: 18px;
    width: 50%;
    padding: 7px;
    font-weight: lighter;
    border-color: #DB4A2B;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
}

.received {
    background-color: #E4BCB3;
    border-radius: 18px;
    width: 50%;
    padding: 7px;
    font-weight: lighter;
    border-color: #DB4A2B;
    border-width: 2px;
    border-style: solid;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
}

.received,
.sent p {
    color: #7C7070;
}

.chatbox {
    width: 62%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    position: fixed;
    bottom: 95px;
    right: 50px;
}
.user-name{
    margin-bottom:-2px;
     margin-left: 100px;
}
.chatbox #chat-input {
    width: 95%;
    border-radius: 10px;
    border-color: #DB4A2B;
    border-width: 2px;
}

.active-user{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  }  

@media only screen and (min-width: 320px) and (max-width: 1024px) {
   
    .user-name{
        margin-bottom: -2px;
        margin-left: 51px;
    }
    .left-container{
        width: 100%; 
        background-color: #D9D9D9; 
        border-radius: 18px;
        margin-left: 5px;
        margin-right: 5px;
        height: 100%;
        min-height:800px ;
        max-height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    #pro-img{
    width: 50%;
    }
    .user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    
}
   .sent{
    
    background-color: white;
    border-radius: 18px;
    width: 50%;
    padding: 7px;
    font-weight: lighter;
    border-color: #DB4A2B;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 20px;
   }
   .received{
   background-color: #E4BCB3;
   border-radius: 18px;
   width: 50%;
   padding: 7px;
   font-weight: lighter;
   border-color: #DB4A2B;
   border-width: 2px;
   border-style: solid;
   align-self: flex-end;
   margin-right: 20px;
}
.received,.sent p{
    color: #7C7070;
    font-size: small;
    font-weight: normal;
}
.chatbox{
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: absolute;
  bottom: 43px;
  right: 1px;
}
.chatbox #chat-input{
   width: 79%;
   border-radius: 10px;
   border-color: #DB4A2B;
   border-width: 2px;
}
    .right-container {
        width: 100%;
        background-color: #D9D9D9;
        border-radius: 18px;
        align-items: center;
        justify-content: center;
        display: block;
        /* flex-direction: column; */
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        max-height: fit-content;
    }

    .left-container {
        display: none;
    }

    #signout-btn{
        width: 46px;
        height: 17px;
        font-size: xx-small;
    }
    .sig-out-btn {
        width: 50%;
        justify-content: start;
        align-items: end;
        display: flex
    ;
        flex-direction: column;
    }
    .secondarybtn {
        width: 100px;
        height: 30px;
    }
    
    .primarybtn  {
        width: 100px;
        height: 30px;
    }
    #name {
        color: #7C7070;
        font-weight: bolder;
        font-size: medium;
        font-family: system-ui;
    }
    .active-user {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #back-button{
        width: 46px;
        height: 17px;
        font-size: xx-small;
        margin-left: 10px;
    }

    #details {
        width: 70%;
        margin-left: 20px;
    }

    #all {
        width: 80px;
        height: 30px;
        font-size: x-small;
    }
    #users {
        width: 80px;
        height: 30px;
        font-size: x-small;
    }
    #groups {
        width: 80px;
        height: 30px;
        font-size: x-small;
    }
}